DirectoryIndex index.html

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.giblognet\.org
RewriteRule (.*) http://giblognet.org/$1 [R=301,L]

RewriteCond %{HTTP_HOST} perlcodesample\.sakura\.ne\.jp
RewriteRule (.*) http://giblognet.org/$1 [R=301,L]
